* {
    margin:0px;
    font-family:Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    border:border-box;
}

.full {
  width:100%;
  height:635px;
  background-color: #fdefeb;
}

.fullp {
  text-align: right;
  margin-right:10px;
  color:#E72744;
  font-weight: 800;
  font-size: 1rem;
}

.all {
  height:550px;
  width: 400px;
  border: 2px solid black;
  border-radius: 0.85rem;
  margin-left:530px;
  background-color:lightpink;

}

.crnt_badge {
    height:100px;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 5px;
}

.badgeshow {
   background-image: url("badge 1.jpg");
   background-size:cover;
   height:100px;
   width:100px;
   border-radius: 50%;
}

.badgeshow:hover {
  cursor: pointer;
}


.badge {
    height:60px;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.badge1 {
   background-image: url("badge 1.jpg");
   background-size:cover;
   height:50px;
   width:50px;
   border-radius: 50%;
}

.badge1:hover {
  cursor: pointer;
}

.popup-div1 {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 800;
  color: black;
  background-color: #FD913C;
  position:absolute; 
  margin-top: 195px; 
  margin-right: 300px;
  width: 100px; 
  height: 100px; 
  border-radius: 20%;
  display: none;
}

.popup-div2 {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  color: black;
  background-color: #FD913C;
  font-weight: 800;
  position:absolute; 
  margin-top: 195px; 
  margin-right: 150px;
  width: 100px; 
  height: 100px; 
  border-radius: 20%;
  display: none;
}

.popup-div3 {
  background-color: #fff;
  padding:20px;
  text-align: center;
  color: black;
  font-weight: 800;
  background-color: #FD913C;
  position:absolute; 
  margin-top: 205px; 
  margin-left:5px;
  width: 120px; 
  height: 105px; 
  border-radius: 20%;
  display: none;
}

.badge2 {
    background-image: url("badge 2.jpg");
    background-size:cover;
    height:50px;
    width:50px;
    border-radius: 50%;
 }

 .badge2:hover {
  cursor: pointer;
}

 .badge3 {
    background-image: url("badge 3.jpg");
    background-size:cover;
    height:50px;
    width:50px;
    border-radius: 50%;
 }

 .badge3:hover {
  cursor: pointer;
}

 .badge4 {
    background-image: url("badge 4.jpg");
    background-size:cover;
    height:50px;
    width:50px;
    border-radius: 50%;
 }

 .badge4:hover {
  cursor: pointer;
}

 .badge5 {
    background-image: url("badge 5.jpg");
    background-size:cover;
    height:50px;
    width:50px;
    border-radius: 50%;
 }

 .badge5:hover {
  cursor: pointer;
}

 .radio {
  height: 30px;
  width:370px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-left: 31px;
  margin-bottom: 10px;
 }

 .radio p {
  margin-bottom: 7px;
 }

 .radio i {
  margin-left:10px;
 }

 .line {
  font-weight: 800;
 }

 .line1 {
   display: flex;
   margin-top: 10px;
 }

 .line1:hover {
  cursor: pointer;
 }

 .line2 {
   display: flex;
   margin-top: 10px;
 }

 .line2:hover {
  cursor: pointer;
 }

 .line3 {
   display: flex;
   margin-top: 10px;
   margin-bottom: 20px;
 }

 .line3:hover {
  cursor: pointer;
 }

 i {
   margin-top: 5px;
   margin-right: 6px;
 }

 .rewards {
   height:80px;
   width:400px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }

 .reward1 {
   margin-left: 10px;
   margin-right: 5px;
   height: 68px;
   width:185px;
   text-align: center;
   font-weight: 800;
   color: black;
   background-color: #ffffff;
   border: 4px solid black;
   border-radius: 1rem;
 }

 .reward2 {
  margin-right: 10px;
  margin-left: 5px;
  height: 68px;
  width: 185px;
  text-align: center;
  font-weight: 800;
  color: black;
  background-color: #ffffff;
  border: 4px solid black;
  border-radius: 1rem;
}

 .flexing {
  height: 70px;
   width:400px;
   text-align: center;
   margin-top: 10px;
 }

 .share button {
  background-color: #ff3f6c;
  color:white;
  border: 3px solid black;
  border-radius:0.50rem;
  font-size: 17px;
  height:35px;
  min-height: 35px;
  width:120px;
 }

 .share button:hover {
  background-color: lightgray;
  cursor:pointer;
 }
 
 .flex p {
  margin-bottom: 8px;
 }
